<div class="table-responsive" th:if="${usuarios != null and !usuarios.empty}">
  <table id="userList" class="table table-bordered table-hover table-striped">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Username</th>
      <th scope="col">E-mail</th>
      <th scope="col">Option</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${usuarios}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.email}"></td>
      <td>
        <a th:href="@{/editUser/} + ${user.id}"><i class="fas fa-edit"></i></a>
        | <a href="#"><i class="fas fa-user-times"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div th:if="${usuarios == null or usuarios.empty}">
  <h2>Sin datos</h2>
</div>